@{
    ViewData["Title"] = "Home Page";
}

<div id="potModal" onLoad="currentDate()">
    <div id="modalHeader">
        <h1 class="headers">View Pots</h1><div id="modalClose" onclick="closeModal()">×</div>
    </div>
    <div id="potViewer">

    </div>
</div>
<div id="modalBackground" onclick="closeModal()"></div>
<header id="header">
    <div id="header_text">
        <h1>BudgetBee</h1>
        <h2>The Budgeting App</h2>
    </div>
    <div id="totalBox"></div>
</header>
<div id="inputContainer">
    <div class="inputBox" id="depositBox">
        <h1 class="headers">Deposit</h1>
        <form id="deposit" onsubmit="return false;" autocomplete="off" onchange="resetForm()">
            <h2 class="formHeaders">Amount</h2>
            <div class="depositInputs">
            <input type="number" id="DepositAmount" name="Amount" class="numberBox depositItem" placeholder="£000.00" step="any">
            <div class="depositValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Pot</h2>
            <div class="depositInputs">
            <select id="depositPots" name="potLists" class="potLists depositItem" placeholder="Select Pot">
                
            </select>
            
            <div class="depositValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Category</h2>
            <div class="depositInputs">
            <input type="text" id="depositCategory" name="Category" onchange="alphaOnly()" class="catBox depositItem" placeholder="Wages, Savings, Gift.." maxlength="8">
            
            <div class="depositValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Date</h2>
            <h2 class="dateText"></h2>
            <input type="submit" class="submit" value="Deposit" onclick="formValidation('deposit')" />
        </form>
    </div>
    <div class="inputBox" id="withdrawBox">
        <h1 class="headers">Withdraw</h1>
        <form id="withdraw" onsubmit="return false;" autocomplete="off">
            <h2 class="formHeaders">Amount</h2>
            <div class="withdrawInputs">
                <input type="number" id="withdrawAmount" name="Amount" class="numberBox withdrawItem" step="any">
                <div class="withdrawValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Pot</h2>
            <div class="withdrawInputs">
            <select id="withdrawPots" name="potLists" class="potLists withdrawItem" placeholder="Select Pot" onchange="getMaxAmount()">
            </select>
            <div class="withdrawValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Category</h2>
            <div class="withdrawInputs">
                <input type="text" id="withdrawCategory" name="Category" class="catBox withdrawItem" placeholder="Hobby Fund, New Laptop.." maxlength="8">
                <div class="withdrawValidationBoxes"></div>
            </div>
            <h2 class="formHeaders">Date</h2>
            <h2 class="dateText"></h2>
            <input type="submit" class="submit" value="Withdraw" onclick="formValidation('withdraw')" />
        </form>
    </div>
    <div class="inputBox" id="transactionHistory">
        <h1 class="headers">History</h1>
        <div id="tableContainer">
            <table id="historyTable">
                
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Pot</th>
                        <th>Type</th>
                    </tr>
                
            </table>
        </div>
    </div>
</div>
<div id="potManagerContainer">
    <div id="potManagerBoxL">
        <h1 class="headers">Create Pot</h1>
        <form class="potGenerator" onsubmit="return false;" onchange="resetForm()">
            <div class="generateBox">
                <h2 class="formHeaders">Pot Name</h2>
                <div id="potNameInput">
                    <input type="text" id="potName" class="numberBox" placeholder="Holiday Fund, New Laptop..">
                    <div class="nameValidationBox"></div>
                </div>
                </div>

                <input type="submit" class="submit" value="Create Pot" onclick="potGenerator()">

</form>
    </div>
    <div id="potManagerBoxR">
        <h1 class="headers">Pot Manager</h1>
        <form class="potTransfer">
            <div class="transferBox">
                <h2 class="formHeaders">From</h2>
                <select name="potLists" class="potLists" placeholder="Select Pot" id="fromPot">
                </select>
            </div>
            <div class="transferBox">
                <h2 class="formHeaders">To</h2>
                <select name="potLists" class="potLists" placeholder="Select Pot" id="toPot">
                    >

                </select>
            </div>
            <div class="transferBox">
                <h2 class="formHeaders">Amount</h2>
                <input type="number" id="transferAmount" class="numberBox" placeholder="000.00">
            </div>
        </form>
        <div class="managerBtns">
            <input type="submit" class="modalBtn" value="View pots" onclick="showModal()">
            <input type="submit" class="submit" value="Transfer Funds" onclick="transferFunds()">
        </div>
    </div>
</div>